Django==6.0.5
celery[redis]
psycopg[binary,pool]==3.3.4
django-leaflet==0.33.0
djangorestframework==3.17.1
django-cors-headers==4.9.0
channels==4.3.2
channels-redis==4.3.0
daphne==4.2.1
ruff
pytest
pytest-django
pytest-asyncio
factory-boy
