#page {
    height: 100%;
}

#map {
    height: 80%;
}

body {
    height: 100%;
}

#data {
    height: 20%;
    display: flex;
    background-color: lightgrey;
}

#nodes {
    height: 100%;
    padding: 5px;
}

.node {
    padding: 3px;
    font-size: large;
}

#node-data {
    display: flex;
    height: 100%;
}

#node-interfaces {
    height: 100%;
    background-color: red;
}

#node-addresses {
    height: 100%;
    overflow: scroll;
}

#node-snapshots {
    height: 100%;
    overflow: scroll;
}

.node-selected {
    background-color: green;
}

.snapshot-selected {
    background-color: green;
}